* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

.orange {
    color: #F25822;
}

.header {
    margin-top: 40px;
}

.header__menu {
    margin-top: 51px;
}

.top__content {
    margin-top: 89px;
}

.title {
    margin-bottom: 17px;
}

.top__buttons {
    margin-top: 52px;
    margin-bottom: 178px;
}

.logos {
    margin-top: 97px;
    margin-bottom: 96px;
}