* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-family: 'Lato', sans-serif;
}

img {
    max-width: 100%;
}

.center {
    padding-left: calc(50% - 570px);
    padding-right: calc(50% - 570px);
}

.header {
    background-color: #222222;
    padding-top: 18px;
    padding-bottom: 19px;

}

.fa {
    color: white;
    width: 50px;
}

.fa-magnifying-glass {
    padding-left: 41px;
}

.header-flex {
    display: flex;
    justify-content: space-between;

    align-items: center;
}

.header-right, .header-left {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.just-for-break {
    padding-top: 20px;
    padding-bottom: 20px;
    border: 1px solid red;
}

.header-maket-left {
    display: flex;
    gap: 41px;
    align-items: flex-end;
}

.main {
    background-color: #F1E4E6;
    display: flex;
    margin-bottom: 65px;
}

.main-left {
    width: 50%;
    display: flex;
    justify-content: flex-end;
}


.main-right {
    width: 50%;
    display: flex;
    gap: 16px;
    align-items: center;
    justify-content: center;
}

.big {
    color: #222;
    font-family: Lato;
    font-size: 48px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
}

.pink {
    color: #F16D7F;
}


.main-title {
    color: #222;
    font-family: Lato;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    width: 377px;
}

.sale {
    padding-bottom: 96px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
}

.sale_item {
    position: relative;
}

.sale_content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(33, 22, 22, 0.7);
}

.sale_item_long {
    position: relative;
    grid-column: span 3;
}

.sale__text {
    color: #FFF;

    text-align: center;
    font-family: Lato;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.sale__heading {
    color: #F16D7F;
    font-family: Lato;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-align: center;
}

.items-parent {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 48px;
}

.background-pink {
    height: 420px;
    background-color: #F7E4E2;
    display: flex;
    justify-content: center;
}

.items-title {
    margin-bottom: 6px;
    color: #222;
    font-family: Lato;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-align: center;
}

.items-text {
    color: #9F9F9F;
    font-family: Lato;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 49px;
    text-align: center;
}

.item {
    background-color: #F8F8F8;
    width: 32%;
    margin-bottom: 30px;

}

.items-subtitle {
    padding-top: 24px;
    padding-bottom: 12px;
    padding-left: 18px;
    color: #000;
    font-family: Lato;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.item-dscr {
    color: #5D5D5D;
    font-family: Lato;
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    padding-bottom: 18px;
    padding-left: 16px;
    padding-right: 29px;
}

.price {
    color: #F16D7F;
    font-family: Lato;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding-left: 18px;
}

.button {
    display: flex;
    justify-content: center;
}

.pink_button {
    color: #F26376;
    font-family: Lato;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    text-align: center;
    line-height: normal;
    padding: 1rem 2rem;
    border: 1px solid #F26376;
    text-decoration: none;
}

@media(max-width: 1024px) {
    .center {
        padding-left: calc(50% - 376px);
        padding-right: calc(50% - 376px);
    }

    .item {
        width: 49%;
    }

    .main-title {
        font-size: 24px;
    }

    .big {
        font-size: 44px;
    }

    .sale {
        padding-bottom: 110px;
    }

    .items-text {
        padding-bottom: 73px;
    }

    .item {
        margin-bottom: 16px;
    }

    .items-parent {
        margin-bottom: 32px;
    }
}

@media(max-width:767px) {
    .center {
        padding-right: calc(50% - 160px);
        padding-left: calc(50% - 160px);
    }

    .fa-user, .fa-cart-shopping,
    .mobile_display_none {
        display: none;
    }

    .big {
        font-size: 38px;
    }

    .main-title {
        font-size: 20px;
    }

    .main-right {
        width: 100%;
        height: 363px;
        padding: 0 28px;
    }

    .mobile_small {
        height: 61px;
    }

    .sale {
        grid-template-columns: 100%;
        padding-bottom: 64px;
    }

    .sale_item_long {
        grid-column: span 1;
        height: 110px;
        background-image: url("img/acessories.svg");
        background-position: center;
        background-size: cover;
    }

    .items-text {
        padding-bottom: 65px;
    }

    .item {
        width: 100%;
    }

    .items-parent {
        margin-bottom: 40px;
    }
}