* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #020A18;
}

/*
здесь центрируем контенет
*/
/*
.container {
    margin: 0 auto;
    width: 1146px;
}*/

.center {
    padding-left: calc(50% - 573px);
    padding-right: calc(50% - 573px);
}

.header-link {
    color: var(--ffffff, #FFF);
    font-family: Open Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-decoration: none;
    padding: 39px 0px;
}

.header-nav {
    display: flex;
    justify-content: center;
    gap: 32px;
}

.header-link:hover {
    color: #3A68B8
}

.header {
    margin-bottom: 160px;
}

.main-left {
    width: 604px;
}

.subtitle {
    color: var(--3-a-68-b-8, #3A68B8);
    font-family: Open Sans;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 160%;
    /* 28.8px */
    text-transform: uppercase;
    margin-bottom: 10px;
}

.title {
    color: var(--ffffff, #FFF);
    font-family: Open Sans;
    font-size: 55px;
    font-style: normal;
    font-weight: 800;
    line-height: 130%;
    /* 71.5px */
    margin-bottom: 40px;

    /*width: 604px;*/


}

.dscr {
    color: var(--ffffff, #FFF);
    font-family: Open Sans;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 160%;
    /* 28.8px */
    opacity: 0.7;
    margin-bottom: 50px;
    /*width: 558px;*/
}

.main-button {
    color: var(--ffffff, #FFF);
    font-family: Open Sans;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 160%;
    /* 28.8px */
    border-radius: 5px;
    background: var(--3-a-68-b-8, #3A68B8);
    padding: 1rem 2rem;
    text-decoration: none;
    margin-right: 20px;
}

.fa-play {
    margin-right: 10px;
}

.flex-gap {
    gap: 128px;
}

.flex {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

}

/*
.main-left, .main-right {
    width: 49%;
}
*/
.main-right {
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
}

.main {
    margin-bottom: 197px;
}

.flex-buttons {
    display: flex;
    gap: 20px;
    justify-content: flex-start;
}

.logo {
    margin-bottom: 256px;
}

/*
тут, чтобы отпустить заголовок, сделала ему margin-top, вычисляла (366-256)

сделала новый класс .about-flex, с gapом 68px
*/
.about-right {
    width: 484px;
}

.about-subtitle {
    color: var(--ffffff, #FFF);
    font-family: Open Sans;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: 130%;
    /* 52px */
    margin-bottom: 30px;
    margin-top: 110px;
    /*width: 484px;*/
}

.about-dscr {
    color: var(--ffffff, #FFF);
    font-family: Open Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 160%;
    /* 25.6px */
    opacity: 0.7;
    margin-bottom: 50px;
    margin-right: 24px;
    /*width: 460px;*/

}

.about-button {
    border-radius: 5px;
    background: var(--3-a-68-b-8, #3A68B8);
    color: var(--ffffff, #FFF);
    font-family: Open Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    padding: 1rem 2rem;
    text-decoration: none;
}

.flex-about {
    display: flex;
    justify-content: center;
    gap: 68px;
    flex-wrap: wrap;
}

.flex-logo {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.about {
    margin-bottom: 264px;
}

/*
блок items

*/
.grid {
    display: grid;
    grid-template-columns: 33% 33% 33%;
    gap: 30px;
    justify-content: center;
}

.item {
    border-radius: 10px;
    background: #132035;
    padding: 30px;
    display: grid;
    justify-items: center;
    gap: 30px;
}

.item-big {
    grid-row: span 2;
    grid-column: span 2;
    padding-bottom: 60px;
    gap: 60px;
}

.subtitle-item {
    color: var(--ffffff, #FFF);
    text-align: center;
    font-family: Open Sans;
    font-size: 25px;
    font-style: normal;
    font-weight: 700;
    line-height: 125%;
    opacity: 0.7
}

.item-text {
    color: var(--ffffff, #FFF);
    text-align: center;
    font-family: Open Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 160%;
    opacity: 0.7
}

.items {
    margin-bottom: 257px;
}


/*
last
*/


.last-subtitle {
    margin-top: 13px;
    margin-bottom: 40px;
    color: var(--ffffff, #FFF);
    font-family: Open Sans;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: 130%;
    width: 548px;
}

.last-text, .last-text-end {

    margin-right: 113px;
    color: var(--ffffff, #FFF);
    font-family: Open Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 160%;
    opacity: 0.7;
    width: 460px;
}

.last-text {
    margin-bottom: 20px;
}

.last-text-end {
    margin-bottom: 13px;
}

.last {
    margin-bottom: 221px;
}

/*
в футере флекс из трех коробок, в каждой из которых флекс, а в правой два флекса
матрешка получается какая-то
*/
.footer {
    padding-top: 48px;
    padding-bottom: 46px;
}

.footer-h6 {
    margin-bottom: 33px;
    color: var(--ffffff, #FFF);
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.footer-text {
    color: var(--ffffff, #FFF);
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.fa-regular, .fa-light {
    margin-right: 9px;
}


.footer-text-flex {
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    gap: 24px;
}

.footer-text-center {
    color: var(--ffffff, #FFF);
    font-family: Roboto;
    font-size: 14px;
    font-style: italic;
    font-weight: 100;
    line-height: normal;
    opacity: 0.6;
    padding-right: 101px;
}

.footer-right-images {
    display: flex;
    justify-content: flex-start;
    gap: 24px;
}

.footer-left, .footer-center, .footer-right {
    width: 362px;
    margin-bottom: 46px;
}

@media(max-width: 1024px) {
    .center {
        padding-right: calc(50% - 376px);
        padding-left: calc(50% - 376px);

    }

    .subtitle {
        font-size: 16px;
    }

    .title {
        font-size: 48px;
    }

    .flex-logo {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        gap: 32px;
    }

    .logo {
        padding-right: 40px;
        padding-left: 40px;
        padding-bottom: 277px;
    }

    .grid {
        grid-template-columns: repeat(1, 362px);
        gap: 30px;

    }

    .item-big {
        grid-column: span 1;
        grid-row: span 1;
        gap: 30px;
        padding: 30px;
    }

    .item-big img {
        width: 98px;

    }

    .flex-last {
        gap: 64px;
    }

    .flex-footer {
        justify-content: flex-start;
    }

}

@media(max-width:767px) {
    .center {
        padding-right: calc(50% - 160px);
        padding-left: calc(50% - 160px);


    }

    .header {
        margin-bottom: 64px;
    }

    .subtitle {
        margin-bottom: 16px;
        font-size: 14px;
        text-align: center;
    }

    .title {
        font-size: 28px;
        margin-bottom: 64px;
        text-align: center;
    }

    .dscr {
        margin-bottom: 39px;
        text-align: center;
    }

    .main-left {
        max-width: 318px;
    }

    .main-right img {
        width: 343px;
    }

    .about-subtitle {
        width: 343px;
    }

    .about-left img {
        width: 342px;
    }

    .last-right img {
        width: 342px;
    }

    .header-link {
        font-size: 14px;
    }

    .header-nav {
        gap: 1px;
        justify-content: space-around;
    }

    .flex-buttons {
        display: flex;
        gap: 24px;
        justify-content: flex-start;
    }
}