* {
    margin: 0;
    padding: 0;
}

body {

    background: #020A18;
    color: #edf1f8;
    font-family: 'Open Sans', sans-serif;
}

a {
    text-decoration: none;
    color: #edf1f8;
}

.center {
    padding-left: calc(50% - 573px);
    padding-right: calc(50% - 573px);
}

.main {}

.header {
    display: flex;
    justify-content: center;
    gap: 40px;
    padding-top: 39px;
    padding-bottom: 39px;
}

.header__link {}

.top__content {
    display: flex;
    justify-content: end;
    gap: 128px;
    margin-top: 160px;
    margin-bottom: 197px;
}

.top__info {}

.heading__top__info {
    margin-bottom: 10px;
    color: #3A68B8;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 160%;
    /* 28.8px */
    text-transform: uppercase;
}

.title__top__info {
    margin-bottom: 40px;
    font-size: 55px;
    font-style: normal;
    font-weight: 800;
    line-height: 130%;
}

.text__top__info {
    color: var(--ffffff, #FFF);
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 160%;
    /* 28.8px */
}

.top__buttons {
    margin-top: 50px;
}

.top__info__buttons {}