* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    font-family: 'Mulish', sans-serif;
    /*
    font-family: 'Open Sans', sans-serif;
    font-family: 'Roboto', sans-serif;
    */
}

.center {
    width: 1200px;
    margin: 0 auto;
}

.orange {
    color: #F25822;
}

.logo_pic {
    margin-right: 14px;
}

.header-flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__menu {
    display: flex;
    gap: 34px;
    align-items: center;
}

.flex-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.header-button {
    border-radius: 30px;
    background: #F25822;
    padding: 1rem 2rem;
    color: #FFF;
    font-family: 'Mulish', sans-serif;
    font-size: 12px;
    font-style: normal;
    font-weight: bolder;
    line-height: normal;
}

.header {
    margin-bottom: 148px;

}

.header__logo {
    color: #000;
    font-family: 'Mulish', sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: bold;
    line-height: normal;
}

.menu__link {
    color: #000;
    font-family: 'Mulish', sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: bolder;
    line-height: normal;
}

/*
top_content
*/
.top_content_title {
    font-family: 'Mulish', sans-serif;
    color: #000;
    font-size: 60px;
    font-style: normal;
    font-weight: bolder;
    line-height: normal;
    margin-bottom: 17px;
}

.top__content__text {
    font-family: 'Mulish', sans-serif;
    color: #888;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 37px;
    margin-right: 56px;
}

.top__content {
    margin-bottom: 103px;
}



.start {
    border-radius: 50px;
    background: #F25822;
    padding: 1rem 2rem;
    margin-right: 27px;
    box-shadow: 4px 4px 8px 0px rgba(242, 88, 34, 0.20);
    color: #FFF;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

}

.small {
    color: #AAA;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.fa-circle-play {
    color: #F25822;
    margin-right: 15px;
}

.logos {
    margin-top: 97px;
    margin-bottom: 96px;
}

/*
third_section
*/


.third_sec {
    padding-top: 100px;
    padding-bottom: 100px;
    display: flex;
    gap: 60px;
}

.third_sec_item {
    padding: 29px 40px 31px 25px;
}

.third_sec_subtitle {
    margin-top: 25px;
    margin-bottom: 17px;
    color: #000;
    font-size: 24px;
    font-style: normal;
    font-weight: bold;
    line-height: normal;
}

.third_sec_text {
    margin-bottom: 25px;
    color: #666;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;

}

.third_sec_link {
    color: #000;
    font-size: 11px;
    font-style: normal;
    font-weight: bold;
    line-height: 150%;
}

/*
fourth_sec
*/
.fourth_sec {
    background: #FAFAFA;
    padding-top: 92px;
    padding-bottom: 100px;
    display: grid;
    justify-items: center;
}

.blocks {
    display: flex;
    gap: 30px;
}

.block {
    background: #FFFFFF;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 50px;
}

.block1 {
    padding-top: 15px;
}

.fourth_sec_subtitle {
    color: #000;
    font-style: normal;
    font-weight: bold;
    line-height: normal;
    font-size: 24px;
    font-style: normal;
    margin-bottom: 22px;
}

.fourth_sec_text {
    color: #666;
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    margin-bottom: 39px;
}

.fourth_sec_link {
    border-radius: 50px;
    background: #F25822;
    padding: 1rem 2rem;
    margin-right: 27px;
    box-shadow: 4px 4px 8px 0px rgba(242, 88, 34, 0.20);
    color: #FFF;
    text-align: center;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%
}