* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body {
    background: var(--020-a-18, #020A18);
}


.subtitle-item {
    color: var(--ffffff, #FFF);
    text-align: center;
    font-family: Open Sans;
    font-size: 25px;
    font-style: normal;
    font-weight: 700;
    line-height: 125%;

    opacity: 0.7
}

.text-item {
    color: var(--ffffff, #FFF);
    text-align: center;
    font-family: Open Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 160%;

    opacity: 0.7
}


.item {
    padding: 30px;
    border-radius: 10px;
    background: #132035;
    display: grid;
    justify-items: center;
    gap: 30px;

}

.item-big {
    padding-bottom: 144px;
    grid-row: span 2;
    grid-column: span 2;
    display: grid;
    justify-items: center;
    gap: 60px;
}

.grid-container {
    display: grid;
    gap: 30px;
    grid-template-columns: 33% 33% 33%;
    grid-template-rows: 33% 33% 33%;
    justify-content: center;
}