p:hover {
    color: red;
}

.root {
    list-style-type: none;
    position: relative;
    display: inline-block;
}

.dropdown {
    display: none;
    position: absolute;
    top: 0px;
    left: 10px;
}

.root:hover .dropdown {
    display: block;
}

.dropdown>li {
    cursor: pointer;
}

.test_before_after:hover {
    color: blue;
}

.test_before_after:hover::after {
    content: "тык сюда";
    content: url("../pink_maket/img/search\ \(1\).png");
    padding-right: 50px;
    color: red;
}

.test_before_after:hover::before {
    content: "before";
    padding-right: 50px;
    color: red;
}